{include file="common/loginHead"/}
<style>
    .fly-home{
        display: inline-block;
        border-radius: 27px;
    }
    @media screen and (max-width: 600px) {
        .qr{
           display:none;
        }
    }
</style>
<div style="text-align: center">
<div class="fly-home qr" style="top:-155px;left: -16px;">
    <div class="layui-card">
        <div class="layui-card-header">自动登录二维码</div>
        <div class="layui-card-body">
            <div id="qrcode"></div>
        </div>
    </div>
</div>
<div class="fly-home">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <img class="user-img" src="/static/user/images/avatar/default.png" alt="{$userInfo.username}">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block">
                <select name="t_type" lay-filter="t_type" lay-verify="require">
                    <option value="3">固定</option>d
                    <option value="4">动态</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">99*---</label>
                <div class="layui-input-inline">
                    <input type="text" name="num" lay-verify="num" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn get-img" lay-submit lay-filter="get-img">获取</button>
            </div>

        </div>
    </form>
</div>
</div>

{include file="common/footer"/}
<script src="/static/plugins/qrcode/qrcode.min.js"></script>
<script>
    new QRCode(document.getElementById("qrcode"), "{$auto_login|raw}");
    layui.use(['form'], function () {
        var form = layui.form
            ,$ = layui.jquery;

        form.verify({
            num: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(parseInt(value) > 100){
                    return '不能大于100';
                }
            }

            //我们既支持上述函数式的方式，也支持下述数组的形式
            //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
            ,pass: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
        });
        form.on('submit(get-img)', function (data) {
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post('{:url("index/getImg")}', data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1});
                    $('.user-img').attr('src',res.data);
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
            return false;
        })
    });
</script>
</body>
</html>